<% @captures.each do |date, capture_group| %>
  <div class="capture-date">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2><%= date %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="thumbnails">
		<% for capture in capture_group  %>
      <li class="span4">
        <div>
          <h3><%= capture.site_name %></h3>
          <div class="thumbnail">
            <a href="<%= capture.show_url %>"><img alt="screenshot of <%= capture.site_name %>" title="Screenshot of <%= capture.site_name %>" width="290" height="350" src="<%= capture.screenshot.url(:thumb) %>" /></a>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>